bfbench
bfbench-avx2
bfbench.avx2.d
bfbench.avx2.o
bfbench.d
bfbench.o
bftest
bftest.d
bftest.o
cutils.avx2.o
cutils.d
cutils.o
libbf.avx2.d
libbf.avx2.o
libbf.d
libbf.o
softfp.d
softfp.o
tinypi
tinypi-avx2
tinypi.avx2.o
tinypi.d
tinypi.o
